In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('vehicles_us.csv')

In [ ]:
df.head()

,Unnamed: 0,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_type,engine_capacity,body_type,has_warranty,state,price_usd,number_of_photos
0,0,Subaru,Outback,automatic,silver,190000,2010,gasoline,2.5,universal,False,owned,10900.00,9
1,1,Subaru,Outback,automatic,blue,290000,2002,gasoline,3.0,universal,False,owned,5000.00,12
2,2,Subaru,Forester,automatic,red,402000,2001,gasoline,2.5,suv,False,owned,2800.00,4
3,3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,3.0,sedan,False,owned,9999.00,9
4,4,Subaru,Legacy,automatic,black,280000,2001,gasoline,2.5,universal,False,owned,2134.11,14

In [ ]:
df = df.drop(df.columns[0], axis=1)

In [ ]:
df.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_type,engine_capacity,body_type,has_warranty,state,price_usd,number_of_photos
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,2.5,universal,False,owned,10900.00,9
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,3.0,universal,False,owned,5000.00,12
2,Subaru,Forester,automatic,red,402000,2001,gasoline,2.5,suv,False,owned,2800.00,4
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,3.0,sedan,False,owned,9999.00,9
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,2.5,universal,False,owned,2134.11,14

In [ ]:
manufacturer_choise = df['manufacturer_name'].unique()

In [ ]:
manufacturer_choise

array(['Subaru', 'Dodge', 'Kia', 'Opel', 'Alfa Romeo', 'Acura', 'Dacia',
       'Lexus', 'Mitsubishi', 'Lancia', 'Citroen', 'Mini', 'Jaguar',
       'Porsche', 'SsangYong', 'Daewoo', 'Geely', 'Fiat', 'Ford',
       'Renault', 'Seat', 'Rover', 'Volkswagen', 'Lifan', 'Jeep',
       'Cadillac', 'Audi', 'Toyota', 'Volvo', 'Chevrolet', 'Great Wall',
       'Buick', 'Pontiac', 'Lincoln', 'Hyundai', 'Nissan', 'Suzuki',
       'BMW', 'Mazda', 'Land Rover', 'Iveco', 'Skoda', 'Saab', 'Infiniti',
       'Chery', 'Honda', 'Mercedes-Benz', 'Peugeot', 'Chrysler'],
      dtype=object)

In [ ]:
df['year_produced'].min()

1960

In [ ]:
df['year_produced'].max()

2019

In [ ]:
min_year, max_year = int(df['year_produced'].min()), int(df['year_produced'].max())

In [ ]:
min_year = int(df['year_produced'].min())

In [ ]:
max_year = int(df['year_produced'].max())

In [ ]:
min_year, max_year = int(df['year_produced'].min()), int(df['year_produced'].max())

In [ ]:
range(20,30)

range(20, 30)

In [ ]:
df.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_type,engine_capacity,body_type,has_warranty,state,price_usd,number_of_photos
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,2.5,universal,False,owned,10900.00,9
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,3.0,universal,False,owned,5000.00,12
2,Subaru,Forester,automatic,red,402000,2001,gasoline,2.5,suv,False,owned,2800.00,4
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,3.0,sedan,False,owned,9999.00,9
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,2.5,universal,False,owned,2134.11,14

In [ ]:
df['age'] = 2024 - df['year_produced']

In [ ]:
df.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_type,engine_capacity,body_type,has_warranty,state,price_usd,number_of_photos,age
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,2.5,universal,False,owned,10900.00,9,14
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,3.0,universal,False,owned,5000.00,12,22
2,Subaru,Forester,automatic,red,402000,2001,gasoline,2.5,suv,False,owned,2800.00,4,23
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,3.0,sedan,False,owned,9999.00,9,25
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,2.5,universal,False,owned,2134.11,14,23

In [ ]:
def age_category(x):
    if x<5: return '<5'
    elif  x>=5 and x<10: return '5-10'
    elif x>=10 and x<20: return '10-20'
    else: return '>20'

In [ ]:
df['age_category'] = df['age'].apply(age_category)

In [ ]:
df.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_type,engine_capacity,body_type,has_warranty,state,price_usd,number_of_photos,age,age_category
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,2.5,universal,False,owned,10900.00,9,14,10-20
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,3.0,universal,False,owned,5000.00,12,22,>20
2,Subaru,Forester,automatic,red,402000,2001,gasoline,2.5,suv,False,owned,2800.00,4,23,>20
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,3.0,sedan,False,owned,9999.00,9,25,>20
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,2.5,universal,False,owned,2134.11,14,23,>20